<template>
  <VContainer
    fluid
    grid-list-md
  >
    <VLayout>
      <VFlex xs6>
        <VLayout column>
          <h2>Input:</h2>
          <VTextarea
            v-model="jsonInput"
            solo
            name="JSONinput"
            label="JSON input"
          />
          <VBtn @click="pickFile">
            <v-icon left>attach_file</v-icon>
            Choose file
          </VBtn>
          <input
            ref="jsonInput"
            type="file"
            style="visibility: hidden"
            accept="application/json"
            @change="onFilePicked"
          >
          <VRadioGroup v-model="algorithmType">
            <VRadio
              label="BFS"
              value="bfs"
            />
            <VRadio
              label="Greedy"
              value="greedy"
            />
          </VRadioGroup>
          <VBtn
            color="primary"
            @click.prevent="submitJson"
          >
            Send
          </VBtn>
        </VLayout>
      </VFlex>
      <VFlex xs6>
        <h2>Output:</h2>
        <VAlert
          :value="error"
          type="error"
        >
          {{ error && error.message }}
        </VAlert>
        <pre v-if="response">{{ response }}</pre>
      </VFlex>
    </VLayout>
  </VContainer>
</template>

<script>
import axios from 'axios';

export default {
  data: () => ({
    algorithmType: 'greedy',
    jsonInput: '',
    response: null,
    error: null,
  }),

  methods: {
    pickFile() {
      this.$refs.jsonInput.click();
    },

    onFilePicked(e) {
      const file = e.target.files[0];
      const fr = new FileReader();
      fr.readAsText(file);
      fr.addEventListener('load', () => {
        this.jsonInput = fr.result;
      })
    },

    async submitJson() {
      try {
        this.error = null;
        this.response = null;
        const response = await axios.post(`http://localhost:8080/${this.algorithmType}`, this.jsonInput, {
          headers: {
            'content-type': 'application/json',
          },
        });
        this.response = response.data;
      } catch (e) {
        this.error = e.response.data;
      }
    },
  },
};
</script>

<style>
  textarea {
    height: 60vh;
  }
</style>
