<template>
  <VApp>
    <VToolbar app>
      <VToolbarTitle class="headline text-uppercase">
        <span>Network Analyzer</span>
      </VToolbarTitle>
      <VSpacer />
      <VBtn
        flat
        href="https://gitlab.com/put-io-network-analyzer/server/tags"
        target="_blank"
      >
        <span class="mr-2">
          Latest Release
        </span>
      </VBtn>
    </VToolbar>

    <VContent>
      <MainInputs />
    </VContent>
  </VApp>
</template>

<script>
import MainInputs from './components/MainInputs';

export default {
  name: 'App',
  components: {
    MainInputs,
  },
  data() {
    return {
      //
    };
  },
};
</script>
